@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 10s linear infinite;
}

.animate-scroll {
  display: flex;
  animation: scroll 10s linear infinite;
}

.animate-scroll_smaller {
  display: flex;
  animation: scroll 4s linear infinite;
}

.animate-scroll_smaller {
  display: flex;
  animation: scroll 4s linear infinite;
}
